<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if page.title == "Home" %}
    <a class="header-home__link" href="{{ site.url }}/about">
        <img class="header-home__selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}"
        />
    </a>
    {% endif %}

    <h1 class="header-home__title">{{ site.name }}</h1>
    <h2 class="header-home__description">{{ site.bio }}</h2>
</header>
{% include nav.html %}
