.nav {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    &__list {
        list-style: none;
        margin: 0;
        padding: 0 13px 0;
    }
    &__item {
        display: inline-block;
    }
    &__link {
        display: inline-block;
        font-weight: 300;
        text-decoration: none;
        margin: 0;
        font-size: 1.4rem;
        padding: 12px 0 6px;
        transition: all .4s ease-in-out;
        width: 60px;

        &--active {
            border-bottom: 1px solid $epsilon;
        }
    }
}
