.social-links {}

.social-link {
    margin: 0;
    padding-right: 10px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 35px;
    &:last-of-type {
        padding-right: 0;
    }
    &__icon {}
}
